@font-face {
    font-family: 'arcadeclassicregular';
    src: url('../fonts/arcade/arcadeclassic-webfont.eot');
    src: url('../fonts/arcade/arcadeclassic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arcade/arcadeclassic-webfont.woff2') format('woff2'),
         url('../fonts/arcade/arcadeclassic-webfont.woff') format('woff'),
         url('../fonts/arcade/arcadeclassic-webfont.ttf') format('truetype'),
         url('../fonts/arcade/arcadeclassic-webfont.svg#arcadeclassicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
url('../img/characters/60x60/wall.jpg')
*/