body{
    background-color: black;
    color:white;
    margin: 0;
    padding: 0;
    font-family: arcadeclassicregular;
    overflow: hidden;
    
}

#info{
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: url('../img/terrain/grass.jpg') repeat;
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    -khtml-box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    font-family: verdana;
    display : block;
    position : relative;
    top : 0;
    right: 1em;
    float : right;
    font-size: 0.8em;
}

#info, .label{
    color:white;

}

#info, .value{
    color:lime;
}

#gameOver{
    display : none;
    position : fixed;
    float : left;
    width : 50%;
    top : 2.4em;
    left : -0.3em;
    text-align : center;
    font-size : 4em;
    color : red;
    z-index : 2;
    font-weight : bold;
}